           body {
                background: rgb(7, 180, 255);
                color: rgb(45, 45, 45);
                padding: 10px;
                font-family: arial;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            #all-contents {
                max-width: 800px;
                margin: auto;
            }
    
            /* navigation menu */
            nav {
                background: rgb(239, 80, 41);
                margin: 0 auto;
                display: flex;
                padding: 10px;
                border: 15px solid black;
                border-radius: 25px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(255, 255, 255);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #fff;
            }
    
            /* main container area beneath menu */
            main {
                background: rgb(26, 4, 112);
                display: flex;
                border: 15px solid black;
                padding: 10px;
                border-radius: 25px;
            }
            ul, p {
                font-family: "Times New Roman";
                color: rgb(239, 232, 11);
            }
            .sidebar {
                margin-right: 25px;
                padding: 10px;
            }
            .sidebar img {
                width: 200px;
                border: 5px solid black;
                border-radius: 25px;
            }
            .content {
                flex: 1;
                padding: 15px;
            }
            .interests header2 {
                font-size: 1.5em;
                font-weight: bold;
                font-family: "Times New Roman";
                color: white;
            }
            .content header{
                font-family: "Times New Roman";
                color: white;
            }
            ul{
                color: rgb(219, 15, 15);
            }
            
        